@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --color-primary-cyan: hsl(180, 66%, 49%);
    --color-primary-violet: hsl(257, 27%, 26%);
    --color-secondary: hsl(0, 87%, 67%);
    --color-neutral-gray: hsl(0, 0%, 75%);
    --color-gray-violet: hsl(257, 7%, 63%);
    --color-dark-blue: hsl(255, 11%, 22%);
    --color-dark-violet: hsl(260, 8%, 14%);
  }
} */

:root {
  font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-dark-violet);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
